*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FFEBD8;
    color: #38220D;
}

h1 {
    letter-spacing: 3px;
    font-weight: bolder;
}

h2 {
    color: #55453A;
}

nav a {
    padding: 5px;
    text-decoration: none;
    background-color: #55453A;
    color: #FFEBD8;
    border-radius: 10px;
}

.centro {
    align-items: center;
}

ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

img {
    width:100%;
    max-width:700px;
    display:block;
    margin:20px auto;
    border-radius:10px;
}

header {
    text-align:center;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

main ul li {
    display:flex;
    flex-direction:row;
    border: solid #BFAE9F 2px;
    border-radius: 15px;
    margin-top: 10px;
}

.desc {
    width: 500px;
}

main section {
    padding: 10px;
    border: 2px solid #55453A;
    border-radius: 10px;
    margin: 10px;
}

footer {
    box-sizing: border-box;
    width:100%;
    bottom:0;
}

nav {
    justify-content:center;
    display:flex;
    flex-direction:row;
}

nav a {
    margin:15px;
}

h2 {
    text-align:center;
}
